*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-image: url('./Background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
img{
    border-radius:50%;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height:100vh;
    color:rgb(173, 127, 65);
    padding:5% 0 5% 0;
}

a{
    text-decoration: none;
    border-top:1px solid rgba(245, 222, 179,.3);
    border-bottom:1px solid rgba(245, 222, 179,.3);

    align-items: center;
    margin:0 10%;
    display:flex;
    justify-content: space-between;
    padding:8px 0;
    
}
i{
    font-size:40px;
    display: flex;
    align-items: center;
    
}
.fa-facebook{
    color:blue;
}
.fa-youtube{
    color:red;
}
.zalo,.gmail{
    width:40px;
    height:40px;
}
.fa-instagram{
    color:rgb(223, 58, 85)
}
span{
    color:rgb(80, 62, 40);
    font-weight:600;
    font-size:18px;

}
